<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div id="mySelect">
    <span>Контакты</span>
    <div class="dropdown-content">
      <p>Не думай что тут что-то будет</p>
      <p>Ну правда, это просто для красоты</p>
      <p>Если хочешь напиши в телеге</p>
      <p>Извини, что привлек внимание</p>
    </div>
  </div>
  <h2 id="Intro">CTF Intro</h2>
  
  <input id="login" type="text" placeholder="login">
  <input id="password" type="text" placeholder="password">
  <button id="enter">Вход</button>
  <p id="rights">Права не подтверждены: 8 марта 2024 года. ООО "Ленивец.нет"</p>
  <!--Саня, чекни словарём все ли страницы находятся-->

  <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
