<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Secret</title>
</head>
<body>
  <p>Не забудь сменить данные авторизации, прежде чем запускаться в продакшен<br>
    Login: Apelsin<br>
    Password: blabla<br>
    <br><br>
    Как говорил Юлий Цезарь "Жребий брошен"<br>
    2 шага назад и 7 вперёд<br>
    Алфавит обычный английский и цифры (ASCII)<br>
    <br><br>
    И да, не забудь забрать данные на серваке по адресу, при помощи ssh и данных на главной странице. Я их оставил на твоём Desktop файл secret<br>
    </p>
</body>
</html>
